.catalogo{
    height: auto;
    background-color: var(--background);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 150px 0;
}

.catalogo > .gallery{
    position: relative;
    height: 100%;
    width: 70%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    overflow: hidden;
}

.gallery > .galProd{
    width: auto;
    height: auto;
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
    gap: 10px;
}

.gallery > .galProd > h2{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--primary);
}

.gallery > .galProd > div{
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    gap: 15px;
}
